
__pycache__/
3d_mesh/
300W-3D2/
300W-3D-Face/
depth_maps/
depth_maps_w/
env/
open3d-env/
face_images/
original_jpg/
point_clouds/
point_clouds_w/
resized_images/
resized_images_w/
resized_mat_w/
resized_t7/
t7/
your_dataset/

landmark_model_w.pth
landmark_model_1.pth

requirements.txt
